In [5]:
import pandas as pd

In [8]:
data = pd.read_csv('Realestate.csv')

In [9]:
data.head()

,No,transaction,houseAge,distanceToNearestMRTstation,numberOfConvenienceStores,latitude,longitude,housePriceOfUnitArea
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,NaN
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [10]:
houseAge = data.houseAge

In [23]:
norm = (houseAge - houseAge.mean()) / houseAge.std() # Step 2 of assignment. Normalized houseAge data

In [6]:
data.houseAge.mean()

17.62033492822966

In [7]:
data.houseAge.std()

11.428348063298536

In [24]:
norm = (houseAge - houseAge.mean()) / houseAge.std()

In [9]:
norm

0      1.258245
1      0.164474
2     -0.378037
3     -0.378037
4     -1.104301
         ...
413   -0.343036
414   -1.051800
415    0.103223
416   -0.833046
417   -0.973048
Name: houseAge, Length: 418, dtype: float64

In [10]:
minmax = (houseAge - houseAge.min()) / (houseAge.max() - houseAge.min())
minmax

0      0.730594
1      0.445205
2      0.303653
3      0.303653
4      0.114155
         ...
413    0.312785
414    0.127854
415    0.429224
416    0.184932
417    0.148402
Name: houseAge, Length: 418, dtype: float64

In [25]:
data['houseAgeStandardized'] = norm

In [15]:
data.new_column = norm

<ipython-input-15-5c667d23da12>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.new_column = norm

In [13]:
data.head()

,No,transaction,houseAge,distanceToNearestMRTstation,numberOfConvenienceStores,latitude,longitude,housePriceOfUnitArea
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,NaN
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [1]:
data['houseAgeStandardized'] = norm

NameError: name 'norm' is not defined

In [16]:
data.new_column = norm

In [17]:
data.head()

,No,transaction,houseAge,distanceToNearestMRTstation,numberOfConvenienceStores,latitude,longitude,housePriceOfUnitArea,houseAgeStandardized
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,NaN,1.258245
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2,0.164474
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3,-0.378037
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8,-0.378037
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1,-1.104301

In [26]:
data.drop('numberOfConvenienceStores', axis=1) # axis is used to signify columns, not rows

KeyError: "['numberOfConvenienceStores'] not found in axis"

In [22]:
data.drop(columns=['numberOfConvenienceStores'], inplace=True) # inplace is used to update the original dataframe

KeyError: "['numberOfConvenienceStores'] not found in axis"

In [27]:
data.head()

,No,transaction,houseAge,distanceToNearestMRTstation,latitude,longitude,housePriceOfUnitArea,houseAgeStandardized
0,1,2012.917,32.0,84.87882,24.98298,121.54024,NaN,1.258245
1,2,2012.917,19.5,306.59470,24.98034,121.53951,42.2,0.164474
2,3,2013.583,13.3,561.98450,24.98746,121.54391,47.3,-0.378037
3,4,2013.500,13.3,561.98450,24.98746,121.54391,54.8,-0.378037
4,5,2012.833,5.0,390.56840,24.97937,121.54245,43.1,-1.104301

In [28]:
data.rename({'transaction': 'transactionDate'}, inplace=True) # Renamed transaction column. Step 5.

In [30]:
data.loc[0:10, :] # Step 6. The colon is inclusive, and a colon by itself will signify all columns.

,No,transaction,houseAge,distanceToNearestMRTstation,latitude,longitude,housePriceOfUnitArea,houseAgeStandardized
0,1,2012.917,32.0,84.87882,24.98298,121.54024,NaN,1.258245
1,2,2012.917,19.5,306.59470,24.98034,121.53951,42.2,0.164474
2,3,2013.583,13.3,561.98450,24.98746,121.54391,47.3,-0.378037
3,4,2013.500,13.3,561.98450,24.98746,121.54391,54.8,-0.378037
4,5,2012.833,5.0,390.56840,24.97937,121.54245,43.1,-1.104301
5,6,2012.667,7.1,2175.03000,24.96305,121.51254,32.1,-0.920547
6,7,2012.667,34.5,623.47310,24.97933,121.53642,40.3,1.477000
7,8,2013.417,20.3,287.60250,24.98042,121.54228,46.7,0.234475
8,9,2013.500,31.7,5512.03800,24.95095,121.48458,18.8,1.231995
9,10,2013.417,17.9,1783.18000,24.96731,121.51486,22.1,0.024471
10,11,2013.083,34.8,405.21340,24.97349,121.53372,41.4,1.503250

In [31]:
data.iloc[0:11, :] # Step 7. iloc is exclusive on the last number, so to access rows 0-10 it needs to go to 11.

,No,transaction,houseAge,distanceToNearestMRTstation,latitude,longitude,housePriceOfUnitArea,houseAgeStandardized
0,1,2012.917,32.0,84.87882,24.98298,121.54024,NaN,1.258245
1,2,2012.917,19.5,306.59470,24.98034,121.53951,42.2,0.164474
2,3,2013.583,13.3,561.98450,24.98746,121.54391,47.3,-0.378037
3,4,2013.500,13.3,561.98450,24.98746,121.54391,54.8,-0.378037
4,5,2012.833,5.0,390.56840,24.97937,121.54245,43.1,-1.104301
5,6,2012.667,7.1,2175.03000,24.96305,121.51254,32.1,-0.920547
6,7,2012.667,34.5,623.47310,24.97933,121.53642,40.3,1.477000
7,8,2013.417,20.3,287.60250,24.98042,121.54228,46.7,0.234475
8,9,2013.500,31.7,5512.03800,24.95095,121.48458,18.8,1.231995
9,10,2013.417,17.9,1783.18000,24.96731,121.51486,22.1,0.024471
10,11,2013.083,34.8,405.21340,24.97349,121.53372,41.4,1.503250

In [32]:
data.drop_duplicates() # Step 8. This function drops all rows where all data is duplicated because there are no parameters.

,No,transaction,houseAge,distanceToNearestMRTstation,latitude,longitude,housePriceOfUnitArea,houseAgeStandardized
0,1,2012.917,32.0,84.87882,24.98298,121.54024,NaN,1.258245
1,2,2012.917,19.5,306.59470,24.98034,121.53951,42.2,0.164474
2,3,2013.583,13.3,561.98450,24.98746,121.54391,47.3,-0.378037
3,4,2013.500,13.3,561.98450,24.98746,121.54391,54.8,-0.378037
4,5,2012.833,5.0,390.56840,24.97937,121.54245,43.1,-1.104301
...,...,...,...,...,...,...,...,...
413,410,2013.000,13.7,4082.01500,24.94155,121.50381,15.4,-0.343036
414,411,2012.667,5.6,90.45606,24.97433,121.54310,50.0,-1.051800
415,412,2013.250,18.8,390.96960,24.97923,121.53986,40.6,0.103223
416,413,2013.000,8.1,104.81010,24.96674,121.54067,52.5,-0.833046
417,414,2013.500,6.5,90.45606,24.97433,121.54310,63.9,-0.973048

In [33]:
pd.isna(data.loc[:, :])

,No,transaction,houseAge,distanceToNearestMRTstation,latitude,longitude,housePriceOfUnitArea,houseAgeStandardized
0,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
413,False,False,False,False,False,False,False,False
414,False,False,False,False,False,False,False,False
415,False,False,False,False,False,False,False,False
416,False,False,False,False,False,False,False,False
417,False,False,False,False,False,False,False,False

In [35]:
data.fillna(value={'housePriceOfUnitArea': data.housePriceOfUnitArea.mean()}) # Step 9. Replaced NaN values with mean.

,No,transaction,houseAge,distanceToNearestMRTstation,latitude,longitude,housePriceOfUnitArea,houseAgeStandardized
0,1,2012.917,32.0,84.87882,24.98298,121.54024,38.033735,1.258245
1,2,2012.917,19.5,306.59470,24.98034,121.53951,42.200000,0.164474
2,3,2013.583,13.3,561.98450,24.98746,121.54391,47.300000,-0.378037
3,4,2013.500,13.3,561.98450,24.98746,121.54391,54.800000,-0.378037
4,5,2012.833,5.0,390.56840,24.97937,121.54245,43.100000,-1.104301
...,...,...,...,...,...,...,...,...
413,410,2013.000,13.7,4082.01500,24.94155,121.50381,15.400000,-0.343036
414,411,2012.667,5.6,90.45606,24.97433,121.54310,50.000000,-1.051800
415,412,2013.250,18.8,390.96960,24.97923,121.53986,40.600000,0.103223
416,413,2013.000,8.1,104.81010,24.96674,121.54067,52.500000,-0.833046
417,414,2013.500,6.5,90.45606,24.97433,121.54310,63.900000,-0.973048