In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Realestate.csv')

In [3]:
data.head()

,No,transaction,houseAge,distanceToNearestMRTstation,numberOfConvenienceStores,latitude,longitude,housePriceOfUnitArea
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,NaN
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [4]:
houseAge = data.houseAge

In [5]:
norm = (houseAge - houseAge.mean()) / houseAge.std()

In [6]:
data.houseAge.mean()

17.62033492822966

In [7]:
data.houseAge.std()

11.428348063298536

In [8]:
norm = (houseAge - houseAge.mean()) / houseAge.std()

In [9]:
norm

0      1.258245
1      0.164474
2     -0.378037
3     -0.378037
4     -1.104301
         ...
413   -0.343036
414   -1.051800
415    0.103223
416   -0.833046
417   -0.973048
Name: houseAge, Length: 418, dtype: float64

In [10]:
minmax = (houseAge - houseAge.min()) / (houseAge.max() - houseAge.min())
minmax

0      0.730594
1      0.445205
2      0.303653
3      0.303653
4      0.114155
         ...
413    0.312785
414    0.127854
415    0.429224
416    0.184932
417    0.148402
Name: houseAge, Length: 418, dtype: float64

In [11]:
data.['houseAgeStandardized'] = norm

SyntaxError: invalid syntax (<ipython-input-11-1749e356ef1e>, line 1)

In [12]:
data.new_column = norm

<ipython-input-12-5c667d23da12>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.new_column = norm

In [13]:
data.head()

,No,transaction,houseAge,distanceToNearestMRTstation,numberOfConvenienceStores,latitude,longitude,housePriceOfUnitArea
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,NaN
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1